.accordion__container input {
  display: none;
}

@media (max-width: $mobile-width) {
  .accordion__container label {
    position: relative;
    display: block;
    width: 100%;
  }

  .accordion__container label:hover {
    opacity: 0.5;
  }

  .accordion__container input:checked + label,
  .accordion__container input:checked + label:hover {
    opacity: 1;
  }

  .accordion__container label::before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1em;
    height: 1em;

    background: url("../img/accordion-show.svg") center no-repeat;
    cursor: pointer;
  }

  .accordion__container input:checked + label::before {
    background-image: url("../img/accordion-hide.svg");
  }

  .accordion__container .accordion__extra-content {
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid $grey;
  }

  .accordion__container input:checked ~ .accordion__extra-content {
    height: auto;
  }
}
