.feedback {
  position: relative;
  width: 100%;
  color: $white;
  background: url("../img/bkg-feedback.svg") 20% center  no-repeat, $blue;
  padding: 100px 15px 75px 15px;
}

.feedback__wrapper {
  width: 100%;
  padding-left: 50%;
}

.feedback__wrapper::before {
  // фон растянут на размер контента содержащего элемента (здесь section)
  // нач. положение фона - правым краем по центру
  // смещается пропорционально (3.25) растяжению содержащего элемента
  // pointer-events - псевдоээлемент некликабельный
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url("../img/paper_airplane_3d_model@1x.png") calc(50% - 511px / 2 - 80px) center / 511px 288px no-repeat, transparent;
  transform: translateX(calc((1024px - 100%) / 3.25));

  pointer-events: none;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane_3d_model@2x.png");
  }
}

.feedback__form {
  max-width: 720px;
  margin-top: 50px;
}

.feedback__title {
  margin: 0 0 10px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $roboto-condensed;
  text-transform: uppercase;
}

.feedback__subtitle {
  margin: 0 0 50px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: $pt-mono;
}

.feedback__submit {
  flex: 0 1 270px;
  max-width: 270px;
}

.feedback__inner-wrap {
  margin-bottom: 40px;
}

.feedback__field {
  margin-bottom: 40px;

  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.feedback__agreement {
  flex: 1 1 300px;
  max-width: 300px;
  margin: 0;
  margin-left: 30px;
}

.feedback__field input,
.feedback__field textarea {
  padding: 16px 16px;
}

.feedback__name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback__question {
  min-height: 154px;
  resize: none;
}


@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
    padding: 80px 25px 65px 25px;
  }

  .feedback__wrapper {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .feedback__title {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding: 30px 25px 10px 25px;
  }

  .feedback__title {
    font-size: 28px;
    line-height: 39px;
  }

  .feedback-form__field {
    margin-bottom: 30px;
  }

  .feedback__inner-wrap {
    margin-bottom: 30px;
  }

  .feedback__submit,
  .feedback__agreement {
    margin-bottom: 40px;
  }

  .feedback__question {
    min-height: none;
  }

  .feedback__agreement label {
    max-width: 100%;
  }
}
