.feedback {
  position: relative;
  width: 100%;
  color: $white;
  background: url("../img/bkg-feedback.svg") 20% center  no-repeat, $blue;
  padding: 100px 15px 75px 15px;
}

.feedback__wrapper {
  width: 100%;
  padding-left: 50%;
}

.feedback__wrapper::before {
  // фон растянут на размер контента содержащего элемента (здесь section)
  // нач. положение фона - правым краем по центру
  // смещается пропорционально (2.25) растяжению содержащего элемента
  // pointer-events - элемент некликабельный
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url("../img/paper_airplane_3d_model@1x.png") calc(50% - 511px / 2 - 40px) center / 511px 288px no-repeat, transparent;
  transform: translateX(calc((1024px - 100%) / 2.25));

  pointer-events: none;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane_3d_model@2x.png");
  }
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 720px;
  margin-top: 50px;
}

.feedback__title {
  margin: 0 0 10px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $roboto-condensed;
  text-transform: uppercase;
}

.feedback-subtitle {
  margin: 0 0 50px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: $pt-mono;
}

.feedback-form__submit {
  flex: 0 1 270px;
  max-width: 270px;

  border-color: $white;
}

.feedback-form__inner-wrap {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.feedback-form__field {
  flex-grow: 1;
  margin-bottom: 40px;

  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.feedback-form__field--name,
.feedback-form__field--phone {
  width: 48%;
  flex-grow: 0;
}

.feedback-form__field--question {
  width: 100%;
}

.feedback-form__field--checkbox {
  flex: 1 1 300px;
  max-width: 300px;
  margin: 0;
  margin-left: 30px;
}

.feedback-form__field input,
.feedback-form__field textarea {
  width: 100%;
  padding: 16px 16px;

  color: $white;
  background-color: $bright-blue;
  border: 1px solid transparent;
}

.feedback-form__field textarea {
  min-height: 154px;
}

.feedback-form__field input::placeholder,
.feedback-form__field textarea::placeholder {
  color: $white;
}

.feedback-form__field input:hover,
.feedback-form__field textarea:hover {
  border-color: $white;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.feedback-form__field input:focus,
.feedback-form__field textarea:focus {
  border-color: $white;
  outline: none;
  opacity: 1;
}

.feedback-form__field input:focus::placeholder,
.feedback-form__field textarea:focus::placeholder {
  opacity: 0;
}

.feedback-form__field--checkbox label {
  @include checkbox(16px, $white);

  &:hover::before {
    opacity: 0.5;
  }

  &:focus::before,
  &:active::before {
    border-color: $white;
    outline: 1px dotted red;
    opacity: 1;
  }
}

.feedback-form__field > input:not(:checked) + .feedback-form__label--question::before {
  background: none;
}

.feedback-form__field--checkbox label:hover {
  cursor: pointer;
  opacity: 0.5;
}

.feedback-form__field--checkbox input:focus + label {
  opacity: 1;
}

input[type="checkbox"]:focus + label {
  outline: 1px solid $white;
  outline-offset: 3px;
  opacity: 1;
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
    padding: 80px 25px 65px 25px;
  }

  .feedback-form {
    max-width: none;
  }

  .feedback__wrapper {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .feedback__title {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding: 30px 25px 10px 25px;
  }

  .feedback__title {
    font-size: 28px;
    line-height: 39px;
  }

  .feedback__container form {
    flex-direction: column;
  }

  .feedback-form__field {
    flex-grow: 1;
    margin-bottom: 30px;
  }

  .feedback-form__field--name,
  .feedback-form__field--phone {
    width: 100%;
  }

  .feedback-form__inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .feedback-form__submit,
  .feedback-form__field--checkbox {
    flex: auto;
    max-width: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .feedback-form__field--checkbox {
    align-self: center;
    max-width: 80%;
  }
}
