.footer {
  padding: 50px 25px;
  background-color: $bkg-light;
}

.footer__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  font-family: $pt-mono;
  color: $bkg-dark;

  &::after,
  &::before {
    content: "";
    display: none;
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background-color: $grey;
    opacity: 0.5;
  }

  &::after {
    display: none;
  }

  &::before {
    display: block;
    order: 1;
  }
}

.footer__content h2 {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  font-family: $roboto-condensed;
  color: $bkg-dark;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer__content a,
.footer__content p {
  opacity: 0.5;
}

.footer__content a {
  display: block;
  color: $bkg-dark;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    color: $blue;
  }

  &:active,
  &:focus {
    color: $blue;
    opacity: 1;
  }
}

.footer__address,
.footer__socials {
  flex-grow: 1;
  flex-basis: 25%;
}

.footer__container-copyright,
.footer__copyright-info--designer,
.footer__copyright-info--secret {
  flex-basis: calc(100% / 3);
}

.logo--footer {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__socials {
  min-width: 216px;
  padding-top: 150px;
}

.footer__nav {
  flex-grow: 1;
  flex-basis: 50%;
}

.footer__nav-menu {
  column-count: 2;
}

.footer__container-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 2;
  margin-right: auto;
}

.footer__copyright-info--protect {
  padding-right: 30px;
}

.footer__copyright-info {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.footer__copyright-info--secret {
  order: 3;
}

.footer__copyright-info--designer {
  flex-grow: 0;
  flex-basis: auto;
  order: 4;
  margin-left: auto;
  white-space: nowrap;
}

@media (max-width: $tablet-width) {
  .footer {
    padding: 50px 25px 25px;
  }

  .footer__content {
    justify-content: space-between;

    &::after {
      display: block;
      order: 4;
    }

    &::before {
      display: block;
      order: 7;
    }
  }

  .footer__copyright-info--designer,
  .footer__socials {
    flex-basis: calc(100% / 3);
  }

  .footer__address,
  .footer__nav {
    flex-basis: 50%;
  }

  .logo--footer {
    position: static;
    top: unset;
    left: unset;

    flex-grow: 1;
    flex-basis: calc(100% / 3);
    order: 1;
  }

  .footer__socials {
    order: 3;
    min-width: unset;
    padding-top: 0;
  }

  .footer__nav {
    order: 5;
  }

  .footer__nav-menu {
    column-count: 1;
  }

  .footer__address {
    order: 6;
  }

  .footer__container-copyright {
    order: 2;
  }

  .footer__copyright-info--protect {
    display: none;
  }

  .footer__copyright-info--secret {
    order: 7;
  }

  .footer__copyright-info--designer {
    order: 8;
  }
}

@media (max-width: $mobile-width) {
  .footer__content {
    flex-direction: column;
    justify-content: center;

    &::before {
      order: 4;
      margin: 1px 0;
    }

    &::after {
      display: none;
    }
  }

  .footer__content > * {
    flex: auto;
    margin-bottom: 24px;
  }

  .logo--footer {
    position: static;
    flex: none;
    height: 150px;
  }

  .footer__container-copyright {
    justify-content: center;
    width: 100%;
  }

  .footer__copyright-info--designer {
    margin-left: 0;
    white-space: normal;
  }

  .footer__address,
  .footer__nav {
    align-self: flex-start;
  }

  .footer__nav {
    margin-bottom: 0;
  }

  .footer__address-phone-list:last-child,
  .footer__nav-menu-item:last-child {
    padding-bottom: 20px;
  }

  .footer__accordion-item {
    width: 100%;
  }

  .footer__accordion-item label {
    min-height: 70px;
    vertical-align: middle;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      right: 0;
      width: 16px;
      height: 16px;
    }
  }

  .footer__accordion-item label > h2 {
    line-height: 70px;
  }
}
