// TEXTS
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$ptmono: "PT Mono", "Courier New", monospace;

// COLORS
$white: #ffffff;
$blue:  #00b2ff;
$bright-blue: #19baff;
$dark-grey:   #788891;
$medium-grey: #666666;
$light-grey:  #1b2d37;
$bkg-dark:    #1b2931;
$bkg-grey:    #26353d;
$bkg-light:   #fafafa;

// MAX DIMENSIONS
$mobile-width: 767px;
$tablet-width: 1023px;
