.page-content__wrapper {
  background: url("../img/bkg-advantages_about-desktop.svg") no-repeat $white;
  background-position: center;
}

.page-content__container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-content__container--wide {
  max-width: 1440px;
}

/*

.page-content__about {
  // max-width: 1440px;
  // min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.page-content__goods {
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.page-content__feedback {
  // min-width: 1024px;
  max-width: 1440px;

  // width: 100%;
  margin: 0 auto;
  // padding: 100px 15px;
}
*/

@media (max-width: $tablet-width) {
  .page-content__container {
    min-width: unset;
    max-width: 100%;
  }
}

//
// @media (max-width: $mobile-width) {
//
// }
